// Import page-specific CSS files here.
@import "home";

.main-card {
  color: white;
  width: 25%;
  height: 200px;
  border-radius: 2%;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 40px;

}

.card-text {
  position: absolute;
  top: 15px;
  right: 30px;
}
