.show-content {
  background-color: white;
  color: black;
  padding: 50px;
  margin-left: 30px;
  height: 660px;
  width: 660px;
}

.show-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-image {
  background-position: center;
  background-size: cover;
}

.show-content h1 {
  border: 2px solid grey;
}

.show-content h3 {
  margin-top: 50px;
  text-decoration: underline;
}

.show-content p {
  margin-top: 30px;
}
