  <div class="navbar-wagon">
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag("image.png")%>
    </a>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
        <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-primary" %>
    </div>
  </div>


<!-- navbar-wagon-item navbar-wagon-link  -->
